.Button {
    background-color: #cd1017; /* bg-red-900 */
    color: #ffffff; /* text-white */
    font-weight: 600; /* font-semibold */
    font-size: 20px;
    padding: 0.5rem 1.5rem; /* py-2 px-6 */
    border-radius: 0.75rem; /* rounded-xl */
    margin-left: 1.5rem; /* md:ml-6 */
    transition: background-color 0.5s; /* duration-500 */
  }
  
  .Button:hover {
    background-color: #f87171; /* hover:bg-red-500 */
  }

