.explore-menu{
    /* display: flex; */
    position:fixed;
    flex-direction: row;
    gap: 20px;
    left: 13%;
    /* border: 10px solid red; */
    /* max-height: 700px; */
    /* overflow: scroll; */
    /* overflow: hidden; */
    /* margin-top: -100px; */
}

.explore-menu h1{
    color: black;
    font-weight: 500;
}

.dark .explore-menu h1{
    color: white;
    font-weight: 500;
}

.explore-menu-list{
    border: 2px solid #9b1b1f;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-height: 700px;
    text-align: center;
    margin: 20px 0px;
    overflow: scroll;
    border: 1px solid #9b1b1f;
    box-shadow: 2px 2px 2px 2px #00000025;
    border-radius: 20px;
}
 
.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s, padding-left 0.3s;
} 
/* .explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
} */

.explore-menu-list-item p{
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin-top: 0px;
    color: black;
    font-size: max(1.4vw,16px);
    cursor: pointer;
    margin: 0;
}

.dark .explore-menu-list-item p{
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin-top: 0px;
    color: white;
    font-size: max(1.4vw,16px);
    cursor: pointer;
    margin: 0;
}

/* .explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    /* background-color: #e2e2e2; */
    /* background-color: black; */
    /* border: none; */
/* } */

.explore-menu-list-item .active{
    border-left: 10px solid #9b1b1f;
    padding: 10px;
    display: inline-block;
}

/* .explore-menu-list-item:hover {
    background-color: red;
  } */
  /* .explore-menu {
    text-align: left;
    width: 250px;
    margin: auto;
  } */
  
  
  .explore-menu-list-item:hover {
    border-radius: 30px;
    background-color: #9b1b1fa2; /* Light background color on hover */
    padding-left: 20px; /* Indent the text slightly on hover */
  }
  
  .explore-menu-list-item:hover p {
    color: white; /* Change text color on hover */
  }

@media  (min-width: 0px) and (max-width: 250px) {
    .explore-menu {
      width: 100%;
      top:140px;
      left: 20px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      /* border: 10px solid orange; */
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
    }
  
.explore-menu-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        text-align: center;
        margin: 20px 0px;
        padding-left: 10px;
        overflow-x: scroll;
}

.explore-menu h1{
    color: black;
    font-weight: 500;
}



.explore-menu-list::-webkit-scrollbar{
    display: none;
}

/* .explore-menu-list-item img{
    width: 7.5vw;
    min-width: 100px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    border: 1px solid red;
} */

.explore-menu-list-item p{
    margin-top: 10px;
    color: black;
    /* font-size: max(1.4vw,16px); */
    font-size: 20px;
    cursor: pointer;
}


.explore-menu-list-item .active{
    border: 0px solid transparent;
    /* background-color: #fff; */
    padding: 10px;
    display: inline-block;
}
}
@media  (min-width: 401px) and (max-width: 700px) {
    .explore-menu {
      width: 100%;
      top:140px;
      left: 6px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      /* border: 10px solid orange; */
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
    }
  
.explore-menu-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        text-align: center;
        margin: 20px 0px;
        padding-left: 10px;
        overflow-x: scroll;
}

.explore-menu h1{
    color: black;
    font-weight: 500;
}



.explore-menu-list::-webkit-scrollbar{
    display: none;
}

/* .explore-menu-list-item img{
    width: 7.5vw;
    min-width: 100px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    border: 1px solid red;
} */

.explore-menu-list-item p{
    margin-top: 10px;
    color: black;
    /* font-size: max(1.4vw,16px); */
    font-size: 20px;
    cursor: pointer;
}


.explore-menu-list-item .active{
    border: 0px solid transparent;
    /* background-color: #fff; */
    padding: 10px;
    display: inline-block;
}
}
@media (min-width:251px) and (max-width: 400px) {
    .explore-menu {
      width: 100%;
      top:110px;
      left: 6px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      /* border: 10px solid orange; */
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
    }
  
.explore-menu-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        text-align: center;
        margin: 20px 0px;
        padding-left: 10px;
        overflow-x: scroll;
}

.explore-menu h1{
    color: black;
    font-weight: 500;
}



.explore-menu-list::-webkit-scrollbar{
    display: none;
}

/* .explore-menu-list-item img{
    width: 7.5vw;
    min-width: 100px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    border: 1px solid red;
} */

.explore-menu-list-item p{
    margin-top: 10px;
    color: black;
    /* font-size: max(1.4vw,16px); */
    font-size: 20px;
    cursor: pointer;
}


.explore-menu-list-item .active{
    border: 0px solid transparent;
    /* background-color: #fff; */
    padding: 10px;
    display: inline-block;
}
}

@media (min-width: 900px) and (max-width: 1025px) {
    .explore-menu{
        /* display: flex; */
        position:absolute;
        flex-direction: row;
        gap: 20px;
        left: 14%;
        top: 12%;
    }
    .explore-menu h1{
        color: black;
        font-weight: 500;
    }
    
    .explore-menu-list{
        /* border: 2px solid #9b1b1f; */
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        max-height: 700px;
        text-align: center;
        margin: 20px 0px;
        overflow: scroll;
        border: 1px solid #9b1b1f;
        box-shadow: 2px 2px 2px 2px #00000025;
        border-radius: 20px;
    }
     
    .explore-menu-list::-webkit-scrollbar{
        display: none;
    }
    
    .explore-menu-list-item{
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s, color 0.3s, padding-left 0.3s;
    }
    .explore-menu-list-item p{
        display: inline-block;
        width: 200px;
        padding: 5px;
        margin-top: 0px;
        color: black;
        font-size: max(1.4vw,16px);
        cursor: pointer;
        margin: 0;
    }
    .explore-menu-list-item .active{
        border-left: 10px solid #9b1b1f;
        padding: 10px;
        display: inline-block;
    }
    .explore-menu-list-item:hover {
        border-radius: 30px;
        background-color: #9b1b1fa2; /* Light background color on hover */
        padding-left: 20px; /* Indent the text slightly on hover */
      }
      
      .explore-menu-list-item:hover p {
        color: white; /* Change text color on hover */
      }
    
}

@media (min-width: 701px) and (max-width: 899px) {
    .explore-menu{
        /* display: flex; */
        position:absolute;
        flex-direction: row;
        gap: 20px;
        left: 14%;
        top: 15%;
    }
    .explore-menu h1{
        color: black;
        font-weight: 500;
    }
    
    .explore-menu-list{
        /* border: 2px solid #9b1b1f; */
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        max-height: 700px;
        text-align: center;
        margin: 20px 0px;
        overflow: scroll;
        border: 1px solid #9b1b1f;
        box-shadow: 2px 2px 2px 2px #00000025;
        border-radius: 20px;
    }
     
    .explore-menu-list::-webkit-scrollbar{
        display: none;
    }
    
    .explore-menu-list-item{
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s, color 0.3s, padding-left 0.3s;
    }
    .explore-menu-list-item p{
        display: inline-block;
        width: 200px;
        padding: 5px;
        margin-top: 0px;
        color: black;
        font-size: max(1.4vw,16px);
        cursor: pointer;
        margin: 0;
    }
    .explore-menu-list-item .active{
        border-left: 10px solid #9b1b1f;
        padding: 10px;
        display: inline-block;
    }
    .explore-menu-list-item:hover {
        border-radius: 30px;
        background-color: #9b1b1fa2; /* Light background color on hover */
        padding-left: 20px; /* Indent the text slightly on hover */
      }
      
      .explore-menu-list-item:hover p {
        color: white; /* Change text color on hover */
      }
    
}